    <footer  class="footnote footnote-tiffany">
        <div class="container">
                <a class="foot-item" href="mailto:{{ site.email }}" target="_blank" title="Email"><span class="octicon octicon-mail"></span></a>
                <a class="foot-item" href="https://github.com/{{ site.github_username }}" target="_blank" title="Github"><span class="octicon octicon-mark-github"></span></a>
                <a class="foot-item" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank" title="订阅"><span class="octicon octicon-rss"></span></a>
                <a class="foot-item" href="{{ '/link/' | prepend: site.baseurl | prepend: site.url }}"><span class="octicon octicon-link-external" title="外部链接"></span></a>
                <a class="foot-item" href="https://github.com/HiroaKEY/hiroakey.github.io/" target="_blank"><span class="octicon octicon-code" title="本博客的代码" ></span></a>
                &nbsp;
                <a class="foot-item" href="http://blog.rainyalley.com/" target="_blank"><span class="octicon octicon-info" title="模板作者" ></span></a>
                &nbsp;
                <a ><span class="word-keep" >&copy; gennaio</span></a>
        </div>
    </footer>
